:root {
	--sidebar-width: 30%;
	--app-bar-h: 5rem;
}

@media (max-width: 500px) {
	:root {
		--sidebar-width: 65%;
		--app-bar-h: 4rem;
	}
}

body {
	cursor: default;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=search]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.app-bar {
	background: #0bcc9f;
	display: flex;
	height: var(--app-bar-h);
	position: relative;
	z-index: 1000;
}
.app-bar-search-box {
	font-size: 1.8rem;
	background: transparent;
	border: none;
	color: yellow;
	padding-left: 3rem;
	max-width: 70%;
}
.app-bar-nav {
	/* flex: 1; */
	display: flex;
	justify-content: flex-end;
}
.app-bar-nav-link {
	padding: 2rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: #000;
	position: relative;
	max-height: var(--app-bar-h);
	box-sizing: border-box;
}
.app-bar-nav-link.active {
	color: #0bcc9f;
	background: #000;
}
.app-bar-nav-link:hover {
	color: #b8eade;
	background: #393838;
}

.app-bar-nav-link::before {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	background: #8ce74a;
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleY(0);
	transition: transform 0.25s;
}

.app-bar-nav-link.active::before {
	transform: scaleY(1);
}

.toast {
	background: #282831;
	color: #fff;
	border: solid 1px #000;
	height: 3rem;
	width: 90%;
	margin: 0.5rem;
	animation: toaster 0.15s linear;
	display: flex;
	align-items: center;
}

.toast {
	border-radius: 0.5em;
}

.toast,
.toast span {
	padding: 0.5rem;
}

.toast button {
	color: #b19999;;
	background: #444;
	border: solid 1px #718078;
	border-radius: 50%;
	cursor: pointer;
	height: 3.2em;
	width: 3.2em;
}

.toast button:hover {
	color: #fff;
	background: #ff000082;
}

@keyframes toaster {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.main-notes,
.sidenav-left {
	height: calc(100vh - var(--app-bar-h));
}

.sidenav-left {
	position: fixed;
	background: #718078;
	color: cadetblue;
	width: var(--sidebar-width);
	overflow: auto;
	scrollbar-width: thin;
}

.main-notes {
	position: fixed;
	right: 0px;
	width: 70%;
	overflow: auto;
	background: #d7d7d7;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

.notifications {
	position: fixed;
	bottom: 0;
	right: 3%;
}

button.hamburger-button {
	border: none;
	background: transparent;
	cursor: pointer;
}

.hamburger-button span {
	transform: rotateZ(90deg);
	display: block;
	text-align: center;
}

.hamburger-button:hover span {
	color: #fff;
}

@media (max-width: 500px) {
	.sidenav-left {
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
	}

	.sidenav-left.open {
		transform: translateX(0%);
	}

	.main-notes {
		width: 100%;
	}

	.sidenav-left {
		left: 0px;
		z-index: 1000;
	}

	.app-bar-nav-link {
		padding: 0.3rem;
		font-size: 1rem;
	}

	.app-bar-nav {
		justify-content: center;
	}

	.app-bar-nav {
		order: -1;
	}

	.app-bar-nav > * {
		font-size: 1.4rem;
		padding: 0.5em;
	}
}

.search-btn,
.btn-b {
	background-color: transparent;
}

.search-btn {
	border: solid #888;
	border-radius: 50%;
	height: 3em;
	width: 3em;
	align-self: center;
}

.search-btn:active {
	border-color: #000;
}

.btn-b {
	font-size: 1rem;
	border: transparent;
	color: #888;
	border: none;
	outline: none;
}

.btn-b:hover {
	color: #02352a;
}

.btn-b:active {
	color: #000;
}

.btn-float,
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.full-width {
	flex: 1;
}

.word-wrap {
	word-wrap: anywhere;
}