.todo-link {
	display: block;
	font-size: 1.2rem;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
	color: #ddd;
}

.todo-link:last-child {
	margin-bottom: 2em;
}

.todo-link.active,
.todo-link.active:focus {
	color: #d7d7d7;
	background: #09a1a7;
}

.todo-link:hover {
	background: #888;
	color: whitesmoke;
}

.todo-link.active:hover {
	background: #51afb3;
}

.todo-link:focus {
	background: #c6c3c3;
	outline: solid 2px #000;
}

.todo-link.selected,
.todo-link.selected.active {
	background: #db0f32e6;
}

.todo-link.selected:hover,
.todo-link.selected.active:hover {
	background: #91041be6;
}

.btn-float {
	position: fixed;
	bottom: 10%;
	left: 1rem;
	font-size: 3rem;
	height: 4rem;
	width: 4rem;
	border-radius: 2rem;
	border: none;
	background: #db0f32e6;
	color: #eee;
	text-decoration: none;
	text-align: center;
}

.msg-sidenav-empty {
	padding: 1rem 2.5rem;
}

.msg-sidenav-empty i {
	color: #ddd;
}

.sidenav-context-menu {
	position: absolute;
	top: 1vh;
	left: calc(var(--sidebar-width) + 5%);
	z-index: 1000;
	transform: scale(0);
	transition: transform 0.1s ease-in;
	background: rgba(169, 169, 169, 0.39);
	box-shadow: 1px 5px 10px #ff0000d4;
	margin-right: 0.5em;
}

.sidenav-context-menu.active {
	transform: scale(1);
}

.btn {
	text-decoration: none;
	background: rgb(240, 240, 240);
	color: #000;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
}

.cxmenu-btn {
	border: solid 2px;
	margin: 0.1em;
	font-size: 1.3rem;
	border-radius: 4px;
	transition: all 0.2s;
}

.cxmenu-btn-del {
	color: red;
}

.cxmenu-btn-del:hover {
	color: #fff;
	background: red;
}

@media (max-width: 500px) {
	.btn-float {
		z-index: 1000;
		font-size: 2rem;
		height: 2rem;
		width: 2rem;
	}

	.btn-float:active {
		font-size: 2.5rem;
	}
}

@media (max-width: 770px) {
	.cxmenu-btn {
		width: 100%;
	}
	.sidenav-context-menu {
		max-width: 300px;
	}
}