.edit-note-title {
	font-size: 1.6rem;
}

.edit-note-text {
	font-size: 1.2rem;
	height: 50vh;
}

.edit-note-title,
.edit-note-text {
	width: 80%;
	padding: 0.4rem 1rem;
}

.warning-msg {
	background: #e83939;
	padding: 0.2rem 1rem;
	margin-top: 0.4rem;
	color: #464141;
}

.todo-controls {
	border: solid 2px #888;
	font-size: 0.8rem;
	border-radius: 4px;
	background: transparent;
	height: 25px;
	margin: 2px;
}

.todo-controls:hover {
	background: white;
}

.todo-controls:active {
	background: #bbb;
}

.note-label {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.color-grey {
	color: grey;
}

.smaller {
	font-size: smaller;
}

.divider{
	border: solid 1px grey;
	border-bottom: none;
}

fieldset.reset {
	border: none;
	padding: 0
}

.todo-item--checked {
	color: grey;
	text-decoration: line-through;
}

.note-preview-area p,
.note-preview-area h1,
.note-preview-area h2,
.note-preview-area h3,
.note-preview-area h4,
.note-preview-area h5,
.note-preview-area h6,
.note-preview-area ol,
.note-preview-area ul {
    margin: 0;
}

.note-preview-area ol,
.note-preview-area ul {
	padding-left: 22px;
}

.note-input {
    border-radius: 0.4em;
    border: solid 1px #bbb;
    background: #f1f1f1;
}

.note-input:focus {
	background: #fff;
}

.edit-note-text {
    padding: 1em;
}

.note-preview-area {
	margin-bottom: 4em;
}

.inline-todo-list {
	background: #dfdfdf;
	padding: 1em 0.6em;
	border-radius: 0.5em;
	margin: 0.5em 0;
	width: max-content;
	max-width: 95%;
}